{% extends 'daylog/base.html' %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-3">Day Log App</h1>
    <p class="lead">Manage your daily logs and their tasks.</p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-info btn-lg" href="/daylog" role="button">See more</a>
    </p>
</div>
{% endblock %}