{% extends 'base.html' %}

{% block content %}
<div class="card">
    <h3 class="card-header">{{ operation | capfirst }} Day Log</h3>

    <div class="card-block">

        <form action="{% if action %}{% if operation == 'edit' %}{% url action daylog.slug %}
            {% else %}{% url action %}{% endif %}{% endif %}" method="post"
            enctype="application/x-www-form-urlencoded">
            {% csrf_token %}

            {% if operation == 'edit' %}
                <input type="hidden" value="PUT" name="_method">
            {% endif %}

            <div class="container">
                <div class="form-group row">
                    <label for="title" class="col-sm-2 col-form-label text-right">Title</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="title" name="title"
                            placeholder="Describe your log" required
                            {% if operation == 'view' %}readonly{% endif %}
                            >{% if daylog %}{{ daylog.title }}{% endif %}</textarea>
                        {% if errors.title %}
                            {% include "alert.html" with type='danger' message=errors.title %}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="slug" class="col-sm-2 col-form-label text-right">Slug</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="slug" name="slug"
                            placeholder="example-daylog-slug" required
                            {% if operation == 'view' or operation == 'edit' %}readonly{% endif %}
                            value="{% if daylog %}{{ daylog.slug }}{% endif %}">
                        {% if errors.slug %}
                            {% include "alert.html" with type='danger' message=errors.slug %}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="location" class="col-sm-2 col-form-label text-right">Location</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="location" name="location"
                            placeholder="Location of log" required
                            {% if operation == 'view' %}readonly{% endif %}
                            value="{% if daylog %}{{ daylog.location }}{% endif %}">
                        {% if errors.location %}
                            {% include "alert.html" with type='danger' message=errors.location %}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="log_at" class="col-sm-2 col-form-label text-right">Date of log</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" id="log_at" name="log_at"
                            placeholder="Date of log" required
                            {% if operation == 'view' or operation == 'edit' %}readonly{% endif %}
                            value="{% if daylog %}{{ daylog.log_at }}{% endif %}">
                        {% if errors.log_at %}
                            {% include "alert.html" with type='danger' message=errors.log_at %}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-right">Category</label>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio"
                                    name="category" id="category" value="Adequate" required
                                    {% if operation == 'view' %}disabled{% endif %}
                                    {% if daylog and daylog.category == "Adequate" %}checked{% endif %}>
                                Adequate
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio"
                                    name="category" id="category" value="Minor" required
                                    {% if operation == 'view' %}disabled{% endif %}
                                    {% if daylog and daylog.category == "Minor" %}checked{% endif %}>
                                Minor
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio"
                                    name="category" id="category" value="Major" required
                                    {% if operation == 'view' %}disabled{% endif %}
                                    {% if daylog and daylog.category == "Major" %}checked{% endif %}>
                                Major
                            </label>
                        </div>
                        {% if errors.category %}
                            {% include "alert.html" with type='danger' message=errors.category %}
                        {% endif %}
                    </div>
                </div>

                {% if operation != 'view' %}
                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-danger">Reset</button>
                    </div>
                </div>
                {% endif %}
            </div><!-- .container -->

        </form>

    </div><!-- .card-block -->

    <div class="card-footer text-center">
        <a href="/daylog" class=" btn btn-primary btn-sm">Back</a>
    </div>

</div><!-- .card -->

{% endblock %}
