{% extends 'base.html' %}

{% block content %}

    <div class="card">
        <h3 class="card-header">Day Log</h3>

        {% if daylogs %}
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>Tasks</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
            {% for daylog in daylogs %}
                <tr>
                    <td>
                        <a href="{% url 'daylog:details' daylog.slug %}">
                            <strong>{{ daylog.title }}</strong></td>
                        </a>
                    <td>
                        <code>{{ daylog.created_at|date:"Y-m-d" }}</a>
                        </code>
                    </td>
                    <td>
                        <code>{{ daylog.modified_at|date:"Y-m-d" }}</code>
                    </td>
                    <!-- TODO: Get number of Tasks per DayLog -->
                    <td><code>0</code></td>
                    <td>
                        <a href="{% url 'daylog:edit' daylog.slug %}" class="btn btn-primary btn-sm">Edit</a>
                    </td>
                    <td>
                        <form action="{% url 'daylog:delete' daylog.slug %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="card-block">
            <div class="alert alert-info" role="alert">
                There are no Day Logs available.
            </div>
        </div>
        {% endif %}

        <div class="card-footer text-center">
            <a href="/daylog/create" class=" btn btn-primary">Create Day Log</a>
        </div>

    </div><!-- .card -->

{% endblock %}
